html,body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color: #f0f2f5;
}
.page{
    padding-top: 100px;   
    padding-bottom: 80px;
}

.container{
    width:100%;
    max-width:980px;
    margin: 0 auto; 
    display:flex;
    gap:60px;
    padding:20px;
}

.left{
    flex:1;
}

.fb-logo{
  width: 240px;   
  margin-bottom: 10px;
}

.tagline{
    font-size:20px;
    line-height:1.4;
    margin-top:12px;
}

.right{
    flex:0 0 396px;
    display:flex;
    flex-direction: column; 
    align-items: center;
    margin-top: -10px;

}

.card{
    width: 396px;
    background: white;
    padding:16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.card input{
    width: 100%;
    padding:12px;
    margin-bottom: 12px;
    border:1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
    box-sizing:border-box;
}

.btn-login{
    width:100%;
    padding:12px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    background:  #1877f2;
    color:white;
    cursor: pointer;
    
}

.link-forgot{
    display:block;
    text-align: center;
    margin-top:12px;
    font-size:14px;
    color: #1877f2;
    text-decoration: none;
}

.link-forgot:hover{
    text-decoration: underline;
}

.divider{
    height: 1px;
    background: #dadde1;
    margin:16px 0;

}

.create-wrap {
  text-align: center;
}

.btn-create{
    display:inline-block;
    text-align: center;
    padding:12px 16px;
    border-radius:6px;
    background: #42b72a;
    color:white;
    font-weight: 700;
    text-decoration: none;
}

.below-text{
    text-align: center;
    font-size:14px;
    margin-top:20px;
}

.footer {
  font-size: 12px;
  background: white;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  margin-top: 60px;
}

.footer-inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  font-size: 12px;
  color: #737373;
}

.footer a {
  color: #737373;
  text-decoration: none;
  font-size: 12px;
  margin-right: 10px;
  white-space: nowrap;

}

.footer a:hover {
  text-decoration: underline;
}

.footer-lang {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 10px;
    font-size: 12px;
    color: #737373;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
   
}

.footer-links {

    display: flex;
    flex-wrap: wrap;
    gap: 6px 14px;
    line-height: 1.6;
}

.footer-copy {
  margin-top: 14px;
  font-size: 12px;
  color: #737373;
}

.plus {
  display: inline-block;
  border: 1px solid #ccd0d5;
  padding: 0 8px;
  border-radius: 2px;
  color: #606770;
}

.fb-logo{
  width: 260px;
  height: auto;
  margin-bottom: 6px;
}

.tagline {
  font-size: 20px;
  line-height: 1.4;
  max-width: 500px;
}
